/* Add these rules to prevent horizontal scroll */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.image-text-box {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  display: "flex";
  
}

.show-more-btn {
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-out;
}

.show-more-btn:hover {
  background-color: #eee;
}

.ais-Hits-item{
  padding: 0.5rem !important;
}