.color-square {
    width: 19px; /* Adjust width/height as desired */
    height: 19px;
    border: 1px solid #ddd; /* Optional border */
    margin: 1px;
    
    cursor: pointer;
  }
  
  .color-squire-container:hover {
    border: 1.5px solid #d41424;
        padding: 0;

    margin: 0px;
    /* Optional hover effect */
    opacity: 0.8;
  }
  
  .color-squire-container.active {

  
    /* Optional style for selected color square */
    border: 1px solid #000; /* Change border color as needed */
  }
  .color-squire-container{
    padding: 0;
    border: 1.5px solid white;
    margin: 0px;
    display: inline-block;
  }